<div class="container cap">
	<form class="navbar-form navbar-left navbargames" role="search">
		
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search">
		</div>
		<button type="submit" class="btn btn-default">Search</button>
	</form>
	<div class="help_us"> < Help us write other games /> </div>
</div>
<div class="clearfix"></div>

<div class="game row">
	<div class="game_image col-md-6">
		<%= image_tag "bomberman_grounds.png" %>
	</div>
	<div class="game_info col-md-6">
		<div class="game_name">Bomberman</div>
		
				

		<div class="row ">
			<div class="category col-md-5">
				<button type="button" class="btn btn-standard button_first"> Create AI</button>

				<div class="category_name topai">Top AI</div>
				<ul>
					<li>1. Aenean</li>
					<li>2. Sybil</li>
					<li>3. Vulputate</li>
					<li>4. RandomAI</li>
					<li>5. Sixth</li>
				</ul>
			</div>

			<div class="category col-md-7">
				<button type="button" class="btn btn-standard button_second"> Manual </button>
				<div class="category_name ">Statistics</div>
				<ul>
					<li>Bombs planted: 4536</li>
					<li>Players killed: 755</li>
					<li>Longest game: 5min</li>
					<li>Another random stat: 5 potatos</li>
				</ul>
			</div>
		</div>

		<div class="more_details">More details <span class="glyphicon glyphicon-plus"></span></div>
	</div>
</div>
<div class="clearfix"></div>
<div class="game row">
	<div class="game_image col-md-6">
		<%= image_tag "pong_grounds.png" %>
	</div>
	<div class="game_info col-md-6">
		<div class="game_name">Pong</div>
		
		<div class="row">
			<div class="category col-md-5">
				<button type="button" class="btn btn-standard button_first"> Create AI</button>
				<div class="category_name topai">Top AI</div>
				<ul>
					<li>1. Aenean</li>
					<li>2. Sybil</li>
					<li>3. Vulputate</li>
					<li>4. RandomAI</li>
					<li>5. Sixth</li>
				</ul>
			</div>

			<div class="category col-md-7">
				<button type="button" class="btn btn-standard button_second"> Manual </button>
				<div class="category_name ">Statistics</div>
				<ul>
					<li>Bombs planted: 4536</li>
					<li>Players killed: 755</li>
					<li>Longest game: 5min</li>
					<li>Another random stat: 5 potatos</li>
				</ul>
			</div>
		</div>

		<div class="more_details">more details <span class="glyphicon glyphicon-plus"></span></div>
	</div>
</div>
<div class="clearfix"></div>
