<div class="video">
	<
	<div class="slogan">your AI vs other's AIs</div>
	<button type="button" class="btn btn-standard">try Sybil AI now</button>
	<div class="arrow"></div>
	<div class="bomberman"></div>
</div>