<div class="video">
	<%= image_tag "video_image.png", id: "video_image" %>
	<div class="slogan">your AI vs other's AIs</div>
	<button type="button" class="btn btn-standard try">try Sybil AI now</button>
	<br>
	<%= image_tag "arrow.png", id: "arrow" %>
	<br>
	<%= image_tag "bomberman.png", id: "bomberman" %>
</div>