<div class="video">
	<%= image_tag "video_image.png", id: "video_image" %>
	<div class="slogan">your AI vs other's AIs</div>
	<button type="button" class="btn btn-standard try">try Sybil AI now</button>
	<br>
	<%= image_tag "arrow.png", id: "arrow" %>
	<br>
	<%= image_tag "bomberman.png", id: "bomberman" %>
</div>


<!-- TO DO ALL FROM BELLOW -->

<div class="about_info">
	<div class="description">
		<%= image_tag "hollow_logo.png" %>
		<div class="description_title"></div>
		<br>
		<div class="description_text"></div>
	</div>
	<div class="features">
		<div>
			<div class="features_thumbnail"></div>
			<div class="features_title"></div>
			<div class="features_text"></div>
		</div>
		<div>
			<div class="features_thumbnail"></div>
			<div class="features_title"></div>
			<div class="features_text"></div>
		</div>
		<div>
			<div class="features_thumbnail"></div>
			<div class="features_title"></div>
			<div class="features_text"></div>
		</div>
	</div>
</div>

<div class="slider">
  <!-- to do -->
</div>

<div class="browse">
	<button type="button" class ="btn btn-standard browse_button">Browse all games</button>
	<div class="browse_text">
	</div>
</div>
