<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Sybil AI", '/', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
	  <% Page.all.each do |page| %>
		<li> <%= link_to page.name, page %></li>
	  <% end %>
	</ul>
      </nav>
    </div>
</div>
